  /*******************/
 /* COLOR VARIABLES */
/*******************/

body {
    /* These variables are not changed in dark mode: */
    --color-accent: #0075FF; /* color of checked checkboxes */

    --color-button: #CCCCCC; /* background color of buttons */
    --color-button-hover: #D8D8D8; /* background color of buttons that are being hovered over */
    --color-button-active: #C1C1C1; /* backgruond color of buttons that are being clicked */

    --color-button-positive: #88E288; /* trait advantage buttons */
    --color-button-negative: #EF8F8F; /* trait disadvantage buttons */

    /* These variables are changed in dark mode: */
    --color-background: #F2F2F2; /* background color of the page */

    --color-container: #E5E5E5; /* background color of the containers that hold the rest of the elements */
    --color-border: #3F3F3F; /* border color of the containers */

    --color-text: black; /* color of text */
    --color-text-accent: #3F3F3F; /* color of smaller sub-text */

    --color-text-background: white; /*TPTODO this is the back of the text areas I think?*/
    --color-highlight: #B2B2B2;
}
body.sheet-darkmode {
    --color-background: #363636;

    --color-container: #262626;
    --color-border: black;
    
    --color-text: #E6E6E6;
    --color-text-accent: #BABABA;

    --color-text-background: #F5F5F5;
    --color-highlight: #4C4C4C;
}

  /*******************/
 /* SETTING: COLORS */
/*******************/

#sheet_color {display: none;}
body.sheet-darkmode #sheet_color {display: block !important;}

body.sheet-darkmode #full_sheet.blue {
    --color-container: #001733;
    --color-text-accent: #A3B6CC;
    --color-highlight: #515B66;
    --color-button: #A5D9FF;
    --color-button-hover: #B2DFFF;
    --color-button-active: #8CCFFF;
}
body.sheet-darkmode:has(> .ui-dialog > * > * > * > * > .blue) {
    --color-background: #0A2859 !important;
}

body.sheet-darkmode #full_sheet.green {
    --color-container: #003308;
    --color-text-accent: #B7E5BD;
    --color-highlight: #667F69;
}
body.sheet-darkmode:has(> .ui-dialog > * > * > * > * > .green) {
    --color-background: #006612 !important;
}

body.sheet-darkmode #full_sheet.red {
    --color-container: #330000;
    --color-text-accent: #D8A2A2;
    --color-highlight: #664C4C;
    --color-button: #FF9C9C;
    --color-button-hover: #ffc1c1;
    --color-button-active: #cf7474;
    --color-button-negative: #ff6161;
}
body.sheet-darkmode:has(> .ui-dialog > * > * > * > * > .red) {
    --color-background: #590000 !important;
}

body.sheet-darkmode #full_sheet.purple {
    --color-container: #4C0042;
    --color-text-accent: #D86CCA;
    --color-highlight: #B259A6;
}
body.sheet-darkmode:has(> .ui-dialog > * > * > * > * > .purple) {
    --color-background: #7F006E !important;
}

body.sheet-darkmode #full_sheet.pink {
    --color-container: #E75480;
    --color-text-accent: #FFBFD2;
    --color-highlight: #FF7FA5;
}
body.sheet-darkmode:has(> .ui-dialog > * > * > * > * > .pink) {
    --color-background: #FE98CA !important;
}



#page_cheatsheet { /* TPTODO */
    color: var(--color-text);
}



  /********/
 /* MISC */
/********/

.hidden {
    display: none;
}
.empty-row-cell {
    opacity: 0;
    pointer-events: none;
}

.main-width {
    width: 475px !important;
}
.main-width textarea {
    width: 461px;
}

.top-padding-6px {
    padding-top: 6px !important;
}
.bottom-padding-3px {
    padding-bottom: 3px !important;
}
.bottom-padding-4px {
    padding-bottom: 4px !important;
}
.bottom-padding-5px {
    padding-bottom: 5px !important;
}
.bottom-padding-6px {
    padding-bottom: 6px !important;
}



textarea.resize {
    resize: vertical;
    height: 35px;
}



.text-color {
    color: var(--color-text) !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.65;
}
::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.65;
}
:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.65;
}
:-moz-placeholder { /* Firefox 18- */
    opacity: 0.65;
}



.container-style {
	border: 2px solid var(--color-border);
	background-color: var(--color-container);
	padding: 6px;
    padding-bottom: 0px;
	border-radius: 5px;
	margin-bottom: 9px;
    position: relative;
    width: fit-content;
    overflow: hidden;
}



.row {
    display: flex;
    flex-direction: row;
    margin-left: -6px;
    margin-right: -6px;
    gap: 8px;
    margin-bottom: 3px;
}
.row:last-child, .row:only-child {
    margin-bottom: 0px;
}
.row > div {
    text-align: center;
    flex: 1;
}
.row span {
    display: block;
    text-align: center;
    position: relative;
    bottom: 2px;
    color: var(--color-text-accent);
    flex: 1;
    white-space: nowrap;
}
.row input {
    width: 100% !important;
    position: relative;
    bottom: 3px;
}
.row textarea {
    position: relative;
    bottom: 3px;
    margin-bottom: -1px;
}
.trait-row select {
    width: fit-content;
}
.trait-row input {
    bottom: 0px;
    height: 28px !important;
}

.centered-row {
    text-align: center;
    margin-bottom: 6px;
}
.centered-row span {
    color: var(--color-text-accent);
}
.centered-row > div {
    white-space: nowrap;
    width: 25px;
    margin-left: 32%;
}
.centered-row.fodder > div {
    margin-left: 41%;
}
.centered-row.boss > div {
    margin-left: 13%;
}

.header-row {
    display: grid;
    grid-template-columns: 0px 1fr;
    margin-bottom: 2px;
}
.header-row button {
    width: 12px;
    z-index: 255;
}
.header-row span {
    font-size: 21px;
    font-weight: bold;
    color: var(--color-text);
    text-align: center;
}

.equipment-row select {
    width: 100px;
}



.col1 { flex: 1 !important; }
.col2 { flex: 2 !important; }
.col3 { flex: 3 !important; }
.col4 { flex: 4 !important; }
.col5 { flex: 5 !important; }
.col6 { flex: 6 !important; }



.collapsible {
    transition: 0.3s;
    overflow: hidden;
}
.collapsible.collapsed {
    height: 0px !important;
}

#character_collapse {
    height: 430px;
}
#character_collapse textarea {
    height: 150px;
    resize: none;
}
#character_collapse textarea.short {
    height: 55px;
}
#traits_collapse {
    height: 294px;
}
#stats_collapse {
    height: 632px;
}
#dcdefense_collapse {
    height: 149px;
}
#flawedlegend_collapse {
    height: 428px;
}



.hr, .header-hr {
    background-color: var(--color-highlight);
    height: 1px;
    margin-bottom: 8px;
    flex: 1;
}
.hr {
    margin-top: 8px;
}
.header-hr {
    margin-top: 0px;
}

.vr { /* TPTODO: currently unused */
    background-color: var(--color-highlight);
    height: 100%;
    width: 1px;
    margin: 0px auto;
}



button {
    width: 80px;
    height: 20px;
	background-color: var(--color-button);
	border: 1px var(--color-border) solid;
	padding-bottom: 2px;
	padding-top: 2px;
	border-radius: 6px;
    transition: all 0.3s, border-color 0s;
    overflow: hidden;
    flex: 1;
}
button:hover {
    background-color: var(--color-button-hover);
}
button:active {
    background-color: var(--color-button-active);
}

button.small {
    width: 12px;
    height: 20px;
}

button input {
    float: left;
    position: relative;
    bottom: 3px;
    right: 6px;
    border-right: 1px solid var(--color-border);
}
/* hides number arrows */
button input::-webkit-outer-spin-button,
button input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button input[type=number] {
    -moz-appearance: textfield;
}
button span {
    color: black;
    position: relative;
    top: 1.5px;
    cursor: pointer;
    color: black !important;
}



button.checkbox {
    background-color: white !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 3px;
    border: 1px var(--color-border) solid;
    padding: 0px;
    display: inline;
}
button.checkbox.checked {
    background-color: var(--color-accent) !important;
}



input[type=number] {
    width: 50px;
}



textarea {
    margin-bottom: 0px;
}



span {
    color: var(--color-text);
}

.header {
    font-size: 16px;
}



/* Controls the background color */
#dialog-window {
    background-color: var(--color-background) !important;
}
.tab-pane {
    background-color: var(--color-background);
}
/* This controls the color of the tabs above the character sheet */
.nav.nav-tabs {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
body.sheet-darkmode .nav.nav-tabs {
    background-color: var(--color-container);
    border: 1px solid #5C5C5C;
    border-top: 1px solid black;
}
.nav.nav-tabs li.active > a {
    background-color: var(--color-background);
}



/* This controls the tabs in the character sheet that hold the different pages */
#page_holder {
    padding-bottom: 6px;
    margin-top: -6px;
    width: 502px;
}
#page_roleplay {
    margin-left: -8px;
}
.main-page-area {
    flex: 0;
}

.right_sidebar > div {
    width: 150px;
    position: fixed;
}
.right_sidebar .hr {
    margin-top: 0px;
    margin-bottom: 3px;
}
.right_sidebar select {
    width: 100% !important;
}

#global_mod_box {
    margin-top: -32px;
}
#action_tracker_box {
    margin-top: 137px;
}
#sheet_settings_box {
    margin-top: 139px;
}

.disadvantaged-trait {
    background-color: var(--color-button-negative) !important;
}
.advantaged-trait {
    background-color: var(--color-button-positive) !important;
}

/* Health, mana, and death stack bars */
.health-field > input,
.mana-field > input,
.death-stack-field > input {
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 20px;
    text-align: center;
    padding-left: 18px;
}
.health-field > input {
    background-color: #7CC48A;
}
.mana-field > input {
    background-color: #7C9BC4;
}
.death-stack-field > input {
    background-color: #B31D1D;
}
.health-field > input::placeholder,
.mana-field > input::placeholder,
.death-stack-field > input::placeholder {
    color: white;
    text-shadow: none;
    font-size: 15px;
    opacity: 0.5;
}

/* Tolerances and weaknesses */
.acid {
    background-color: lightgreen !important;
}
.blast {
    background-color: orange !important;
}
.cold {
    background-color: lightblue !important;
}
.death {
    background-color: black !important;
    color: white;
}
.electric {
    background-color: lightyellow !important;
}
.fire {
    background-color: lightcoral !important;
}
.light {
    background-color: lightgrey !important;
    border: 1px darkgrey solid;
}
.physical {
    background-color: saddlebrown !important;
    color: white;
}
.poison {
    background-color: green !important;
    color: white;
}
.psychic {
    background-color: lightsteelblue !important;
}



/* Holds the arsenal category buttons */
#arsenal_container .ability-category {
    text-align: center;
    height: 62px;
}
/* The arsenal categories */
#arsenal_container .ability-category.Weapon ~ .repcontainer .repitem:not(:has(> .ability-category[value="Weapon"])) {
    display: none;
}
#arsenal_container .ability-category.Spell ~ .repcontainer .repitem:not(:has(> .ability-category[value="Spell"])) {
    display: none;
}
#arsenal_container .ability-category.ClassAbility ~ .repcontainer .repitem:not(:has(> .ability-category[value="Class Ability"])) {
    display: none;
}
#arsenal_container .ability-category.SpeciesAbility ~ .repcontainer .repitem:not(:has(> .ability-category[value="Species Ability"])) {
    display: none;
}
#arsenal_container .ability-category.LoreAbility ~ .repcontainer .repitem:not(:has(> .ability-category[value="Lore Ability"])) {
    display: none;
}
#arsenal_container .ability-category.Equipment ~ .repcontainer .repitem:not(:has(> .ability-category[value="Equipment"])) {
    display: none;
}
#arsenal_container .ability-category.Inventory ~ .repcontainer .repitem:not(:has(> .ability-category[value="Inventory"])) {
    display: none;
}
#arsenal_container .ability-category > .row > button.selected.allCategory {
    background-color: black !important;
}
#arsenal_container .ability-category > .row > button.selected.allCategory > span {
    color: lightgrey !important;
}
.repcontainer[data-groupname="repeating_abilities"] option {
    background-color: white;
    color: black;
}
#arsenal_container .ability-category > .row > button.selected.weaponCategory,
.repcontainer[data-groupname="repeating_abilities"] .option-weapon,
.repcontainer[data-groupname="repeating_abilities"] input.ability-category[value="Weapon"] + .ability-full .ability-color {
    background-color: #ff9999;
}
#arsenal_container .ability-category > .row > button.selected.spellCategory,
.repcontainer[data-groupname="repeating_abilities"] .option-spell,
.repcontainer[data-groupname="repeating_abilities"] input.ability-category[value="Spell"] + .ability-full .ability-color {
    background-color: #aaddff;
}
#arsenal_container .ability-category > .row > button.selected.classAbilityCategory,
.repcontainer[data-groupname="repeating_abilities"] .option-class-ability,
.repcontainer[data-groupname="repeating_abilities"] input.ability-category[value="Class Ability"] + .ability-full .ability-color {
    background-color: #99ff99;
}
#arsenal_container .ability-category > .row > button.selected.speciesAbilityCategory,
.repcontainer[data-groupname="repeating_abilities"] .option-species-ability,
.repcontainer[data-groupname="repeating_abilities"] input.ability-category[value="Species Ability"] + .ability-full .ability-color {
    background-color: #ffc55a;
}
#arsenal_container .ability-category > .row > button.selected.loreAbilityCategory,
.repcontainer[data-groupname="repeating_abilities"] .option-lore-ability,
.repcontainer[data-groupname="repeating_abilities"] input.ability-category[value="Lore Ability"] + .ability-full .ability-color {
    background-color: #ddaaff;
}
#arsenal_container .ability-category > .row > button.selected.equipmentCategory,
.option-equipment, /* This can be used anywhere on the sheet */
.repcontainer[data-groupname="repeating_abilities"] input.ability-category[value="Equipment"] + .ability-full .ability-color {
    color: white;
    background-color: #6b6b6b;
}
#arsenal_container .ability-category > .row > button.selected.equipmentCategory > span {
    color: white !important;
}
#arsenal_container .ability-category > .row > button.selected.inventoryCategory,
.repcontainer[data-groupname="repeating_abilities"] .option-inventory,
.repcontainer[data-groupname="repeating_abilities"] input.ability-category[value="Inventory"] + .ability-full .ability-color {
    color: white;
    background-color: #0f0f0f;
}
#arsenal_container .ability-category > .row > button.selected.inventoryCategory > span {
    color: white !important;
}





/* Arsenal sections */
.repcontainer[data-groupname="repeating_abilities"] input[type=text] {
    width: 100%;
}
.repcontainer .content {
    margin-bottom: 0px !important;
}
.repcontainer[data-groupname="repeating_abilities"] .repitem:first-child .hr {
    display: none;
}
.repcontainer[data-groupname="repeating_abilities"] .ability-base-damage,
.repcontainer[data-groupname="repeating_abilities"] .ability-brutal-damage{
    width: 100px !important;
}

.repcontainer[data-groupname="repeating_abilities"] .ability-header {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%) fit-content(100%) fit-content(100%);
}
.repcontainer[data-groupname="repeating_abilities"] .ability-header button {
    width: 12px;
    position: relative;
    bottom: 2px;
}
.repcontainer[data-groupname="repeating_abilities"] .ability-header span {
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 4px;
}
.repcontainer[data-groupname="repeating_abilities"] .ability-header input {
    position: relative;
    bottom: 2px;
}

.repcontainer[data-groupname="repeating_abilities"] .ability-attack-header {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%) fit-content(100%) fit-content(100%);
}
.repcontainer[data-groupname="repeating_abilities"] .ability-attack-content {
    margin-bottom: 2px;
    gap: 0px;
    flex-wrap: wrap;
}
.repcontainer[data-groupname="repeating_abilities"] .ability-attack-content > * {
    position: relative;
    top: 3px;
}
.repcontainer[data-groupname="repeating_abilities"] .ability-attack-content > * > input {
    position: relative;
    top: -2px;
}
.repcontainer[data-groupname="repeating_abilities"] .ability-attack-content input {
    max-width: 100px;
}
.repcontainer[data-groupname="repeating_abilities"] .ability-attack-content > div > button {
    margin-bottom: 4px;
}

.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasuses:checked) .ability-uses {
    display: flex !important;
}
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasweight:checked) .ability-weight {
    display: flex !important;
}
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasmelee:checked) .ability-attack,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasranged:checked) .ability-attack,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasspell:checked) .ability-attack,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.haseffect:checked) .ability-attack,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasability:checked) .ability-attack,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasenvironment:checked) .ability-attack {
    display: block !important;
}
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasmelee:checked) .melee,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasranged:checked) .ranged,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasspell:checked) .spell,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.haseffect:checked) .effect,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasability:checked) .ability,
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasenvironment:checked) .environment {
    display: block !important;
}
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasammo:checked) .load-button {
    display: block !important;
}
.repcontainer[data-groupname="repeating_abilities"] .ability:has(> .settings > * > * > input.hasdescription:checked) .ability-description {
    display: block !important;
    height: 158px !important;
}

.repcontainer[data-groupname="repeating_abilities"] .melee input,
.repcontainer[data-groupname="repeating_abilities"] .ranged input,
.repcontainer[data-groupname="repeating_abilities"] .spell input {
    width: 92px !important;
}



/* Layout and collapse */
.repcontainer[data-groupname="repeating_abilities"] input.ability-layout[value="1"] + .ability .settings,
.repcontainer[data-groupname="repeating_abilities"] input.ability-layout[value="2"] + .ability .content,
.repcontainer[data-groupname="repeating_abilities"] input.ability-collapse[value="1"] ~ div {
    display: none;
}

/* Reloading */
.repcontainer[data-groupname="repeating_abilities"] input.ability-load[value="0"] + button .unloaded,
.repcontainer[data-groupname="repeating_abilities"] input.ability-load[value="1"] + button .loaded {
    display: none;
}
